/* Container for the chatbot */
.chatbot-container {
  width: 500px;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-height: 600x;
  margin-top: 0px
}

.pokemon-image-container {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.reset-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  font-size: 16px;
  align-items: center;
}

.reset-button:hover {
  background-color: #ff1a1a;
}

.pokemon-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Chatbox Header */
.chatbot-header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* Chatbox area with fixed height */
.chatbox {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chatbot-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.chatbot-header {
  margin: 0;
  font-size: 24px;
}

.model-selector:hover {
  border-color: #888;
}

.model-selector {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 2.5%;
}

.model-selector:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Chat messages */
.message {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  background-color: #daf1ff;
  align-self: flex-end;
  text-align: right;
}

.bot-message {
  background-color: #e6e6e6;
  align-self: flex-start;
  text-align: left;
}

/* Form for input and button with fixed height */
.chatbot-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 50px;
  align-items: center;
}

/* Input field with fixed height */
.chatbot-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 1rem;
  height: 100%;
  box-sizing: border-box;
}

/* Button with fixed height and width */
.chatbot-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  box-sizing: border-box;/
}

/* Responsive Design for smaller screens */
@media (max-width: 450px) {
  .chatbot-container {
    width: 95%;
    height: 70vh;
  }

  .chatbot-form {
    flex-direction: column;
    height: auto;
  }

  .chatbot-button {
    width: 100%;
    margin-top: 0.5rem;
  }
}